<ion-header>

  <ion-navbar align-title="center" color="secondary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title><img alt="RHS" height="36" src="./assets/logo-rhs.svg"/></ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="goToNotificationsPage()">
        <ion-icon name="notifications"></ion-icon>
      </button>
      <button ion-button icon-only (click)="goToSearchPage()">
        <ion-icon name="search"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

  <ion-toolbar color="primary">
    <ion-segment [(ngModel)]="postsView" color="secondary">
      <ion-segment-button value="home" (ionSelect)="loadPosts('home')">
        Principal
      </ion-segment-button>
      <ion-segment-button value="queue" (ionSelect)="loadPosts('queue')">
        Fila de Votação
      </ion-segment-button>
      <ion-segment-button value="following" (ionSelect)="loadPosts('following')">
        Seguindo
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>

</ion-header>

<ion-content>

  <div [ngSwitch]="postsView">
    <ion-list *ngSwitchCase="'home'">
      <ion-card *ngFor="let post of homePostList" (click)="goToPostPage()">   
        <ion-card-header>
          {{ post.title['rendered'] }}
        </ion-card-header>
        <ion-card-content>
          {{ post.content['rendered'] }}
        </ion-card-content>
      </ion-card>
    </ion-list>
    <!--<ion-infinite-scroll (ionInfinite)="doInfinite($event)">
      <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>-->

    <ion-list *ngSwitchCase="'queue'">
      <ion-card *ngFor="let post of queuePostList" (click)="goToPostPage()">
        <ion-card-header>
          {{ post.title['rendered'] }}
        </ion-card-header>
        <ion-card-content>
          {{ post.content['rendered'] }}
        </ion-card-content>
      </ion-card>
    </ion-list>

    <ion-list *ngSwitchCase="'following'">
      <ion-card (click)="goToPostPage()">
        <ion-card-header>
          POST SENDO SEGUIDO
        </ion-card-header>
        <ion-card-content>
          <!-- Conteúdo...-->
        </ion-card-content>
      </ion-card>
    </ion-list>
  </div>

</ion-content>
