<ion-header>
  
  <ion-navbar align-title="center" color="secondary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title><img alt="RHS" height="36" src="./assets/logo-rhs.svg"/></ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="goToNotificationsPage()">
        <ion-icon name="notifications">
          <ion-badge *ngIf="unreadNotifications > 0" item-start>{{ unreadNotifications }}</ion-badge>
        </ion-icon>
      </button>
      <button ion-button icon-only (click)="goToSearchPage()">
        <ion-icon name="search"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

  <ion-toolbar class="toolbar-rhs" color="primary">
    <ion-segment [(ngModel)]="postsView" color="secondary">
      <ion-segment-button value="home" (ionSelect)="changeSegment('home')">
        Principal
      </ion-segment-button>
      <ion-segment-button value="queue" (ionSelect)="changeSegment('queue')">
        Fila de Votação
      </ion-segment-button>
      <ion-segment-button value="following" (ionSelect)="changeSegment('following')">
        Seguindo
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>

</ion-header>

<ion-content>

  <ion-refresher pullMin="100" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingText="Puxe e solte para atualizar."
      refreshingText="Buscando novos posts...">
    </ion-refresher-content>
  </ion-refresher>

  <div [ngSwitch]="postsView">
    
    <div *ngSwitchCase="'home'">
      <div *ngIf="showSpinnerOnHome && !loadingFromRefresher && !noMoreResultsOnHome"><ion-spinner class="center-spinner"></ion-spinner></div>
      <post-card ion-stop-event="click" [post-data]="post" *ngFor="let post of homePostList" (click)="goToPostPage(post['id'])"></post-card>   
      <ion-item-divider *ngIf="noMoreResultsOnHome && !loadingFromRefresher">
        Não foram encontrados mais resultados.  
      </ion-item-divider>
    </div>
    <div *ngSwitchCase="'queue'">
      <div *ngIf="!isUserLogged">
        <information [message]="'Somente para usuários da RHS'" [detail]="'É preciso estar logado para acessar essa sessão.'"></information>
      </div>
      <div *ngIf="isUserLogged">
        <div *ngIf="showSpinnerOnQueue && !loadingFromRefresher && !noMoreResultsOnQueue"><ion-spinner class="center-spinner"></ion-spinner></div>
        <post-card [post-data]="post" *ngFor="let post of queuePostList" (click)="goToPostPage(post['id'])"></post-card>   
        <ion-item-divider *ngIf="noMoreResultsOnQueue && !loadingFromRefresher">
          Não foram encontrados mais resultados.  
        </ion-item-divider>
        <div *ngIf="queuePostList.length == 0 && !showSpinnerOnQueue">
          <information [message]="'Ainda não encontramos nenhum post na fila de votação.'"></information>
        </div>
      </div>
    </div>
    <div *ngSwitchCase="'following'">
      <div *ngIf="!isUserLogged">
        <information [message]="'Somente para usuários da RHS'" [detail]="'É preciso estar logado para acessar essa sessão.'"></information>
      </div>
      <div *ngIf="isUserLogged">
        <div *ngIf="showSpinnerOnFollowing && !loadingFromRefresher && !noMoreResultsOnFollowing"><ion-spinner class="center-spinner"></ion-spinner></div>
        <post-card [post-data]="post" *ngFor="let post of followingPostList" (click)="goToPostPage(post['id'])"></post-card>   
        <ion-item-divider *ngIf="noMoreResultsOnFollowing && !loadingFromRefresher">
          Não foram encontrados mais resultados.  
        </ion-item-divider>
        <div *ngIf="followingPostList.length == 0 && !showSpinnerOnFollowing">
          <information [message]="'Ainda encontramos não há nenhum post sendo seguido.'"></information>
        </div>
      </div>
    </div>

    <ion-infinite-scroll [enabled]="postsView === 'home' ? !noMoreResultsOnHome : postsView === 'queue' ? !noMoreResultsOnQueue : !noMoreResultsOnFollowing" (ionInfinite)="$event.waitFor(doInfinite())">
      <ion-infinite-scroll-content
        loadingText="Buscando mais posts...">
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </div>


</ion-content>
