<ion-header>
  
  <ion-navbar align-title="center" color="secondary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title><img alt="RHS" height="36" src="./assets/logo-rhs.svg"/></ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="goToNotificationsPage()">
        <ion-icon name="notifications"></ion-icon>
      </button>
      <button ion-button icon-only (click)="goToSearchPage()">
        <ion-icon name="search"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

  <ion-toolbar color="primary">
    <ion-segment [(ngModel)]="postsView" color="secondary">
      <ion-segment-button value="home" (ionSelect)="loadPosts('home', null)">
        Principal
      </ion-segment-button>
      <ion-segment-button value="queue" (ionSelect)="loadPosts('queue', null)">
        Fila de Votação
      </ion-segment-button>
      <ion-segment-button value="following" (ionSelect)="loadPosts('following', null)">
        Seguindo
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>

</ion-header>

<ion-content>

  <ion-refresher pullMin="100" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingText="Puxe e solte para atualizar."
      refreshingText="Carregando posts...">
    </ion-refresher-content>
  </ion-refresher>

  <div [ngSwitch]="postsView">
    
    <ion-list *ngSwitchCase="'home'">
      <div *ngIf="showSpinner"><ion-spinner></ion-spinner></div>
      <ion-card *ngFor="let post of homePostList" (click)="goToPostPage(post.id)">   
        <ion-card-header [innerHtml]="post.title['rendered']">
        </ion-card-header>
        <ion-card-content [innerHtml]="post.excerpt['rendered']">
        </ion-card-content>
      </ion-card>
      <ion-item-divider *ngIf="noMoreResultsOnHome">
        Não foram encontrados mais resultados.  
      </ion-item-divider>
    </ion-list>

    <ion-list *ngSwitchCase="'queue'">
      <div *ngIf="showSpinner"><ion-spinner></ion-spinner></div>
      <ion-card *ngFor="let post of queuePostList" (click)="goToPostPage(post.id)">
        <ion-card-header [innerHtml]="post.title['rendered']">
        </ion-card-header>
        <ion-card-content [innerHtml]="post.excerpt['rendered']">
        </ion-card-content>
      </ion-card>
      <ion-item-divider *ngIf="noMoreResultsOnQueue">
        Não foram encontrados mais resultados.  
      </ion-item-divider>
    </ion-list>

    <ion-list *ngSwitchCase="'following'">
      <div *ngIf="showSpinner"><ion-spinner></ion-spinner></div>
      <ion-card *ngFor="let post of followingPostList" (click)="goToPostPage(post.id)">
        <ion-card-header [innerHtml]="post.title['rendered']">
        </ion-card-header>
        <ion-card-content [innerHtml]="post.excerpt['rendered']">
        </ion-card-content>
      </ion-card>
      <ion-item-divider *ngIf="noMoreResultsOnFollowing">
        Não foram encontrados mais resultados.  
      </ion-item-divider>
    </ion-list>

  </div>

  <ion-infinite-scroll [enabled]="postsView === 'home' ? !noMoreResultsOnHome : postsView === 'queue' ? !noMoreResultsOnQueue : !noMoreResultsOnFollowing" (ionInfinite)="$event.waitFor(doInfinite())">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>
