
page-posts {

  .toolbar-rhs {
    padding: 0;
    min-height: 50px !important;
    .segment-md{
      margin-bottom: -7px !important;
    }
  }

  ion-header {
    // Centraliza o ion-title, mesmo no Android
    .toolbar-title {
      display: -webkit-flex;
      display: flex;
      -webkit-flex-direction: row;
      flex-direction: row;
      -webkit-align-items: center;
      align-items: center;
      -webkit-justify-content: center;
      justify-content: center;
    }

    ion-badge {
      position: absolute;
      right: 18px !important;
      top: 10px !important;
      padding: 3px 5px !important;
      font-size: 1.05rem !important;
    }
  }

  ion-content{
    
    background: color($colors, ligth-gray) !important;

    .col { padding: 0px !important }

  }
}
