<ion-header>

  <ion-navbar color="secondary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Seguindo</ion-title>
  </ion-navbar>

<!--  <ion-toolbar color="primary">
    <ion-segment [(ngModel)]="followingView" color="secondary">
      <ion-segment-button value="posts">
        Posts
      </ion-segment-button>
      <ion-segment-button value="people">
        Pessoas
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>-->

</ion-header>

<ion-content padding>

    <ion-refresher pullMin="100" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingText="Puxe e solte para atualizar."
      refreshingText="Carregando dados...">
    </ion-refresher-content>
    </ion-refresher>

 <!-- <div [ngSwitch]="followingView">
   
    <div *ngSwitchCase="'posts'">
      <information *ngIf="!isUserLogged" [message]="'Você não está logado na RHS'" [detail]="'Use o Menu lateral para entrar na Rede.'"></information>
      <div *ngIf="showSpinner"><ion-spinner></ion-spinner></div>
      <ion-list *ngIf="isUserLogged && followingView == 'posts'">
        <div *ngIf="postList.length == 0 && !showSpinner">
          <information [message]="'Você ainda não está seguindo nenhum post.'"></information>
        </div>
      </ion-list>
    </div>

    <div *ngSwitchCase="'people'">-->
      <information *ngIf="!isUserLogged" [message]="'Você não está logado na RHS'" [detail]="'Use o Menu lateral para entrar na Rede.'"></information>
      <div *ngIf="showSpinner"><ion-spinner></ion-spinner></div>
      <ion-list *ngIf="isUserLogged && followingView == 'people'">
        <div *ngIf="userList.length == 0 && !showSpinner">
          <information [message]="'Você ainda não está seguindo nenhum usuário.'"></information>
        </div>
        <div *ngIf="userList.length != 0 && !showSpinner">
          <ion-item *ngFor="let user of userList">
            <ion-avatar item-start>
              <img src="{{ user.avatar_urls[48] }}">
            </ion-avatar>
            <h2 color="secondary">{{ user.name }}</h2>
            <button ion-button item-end color="danger">Parar</button>
          </ion-item>
        </div>
      </ion-list>

      <ion-infinite-scroll [enabled]="followingView === 'posts' ? !noMoreResultsOnHome : !noMoreResultsOnPeople" (ionInfinite)="$event.waitFor(doInfinite())">
        <ion-infinite-scroll-content></ion-infinite-scroll-content>
      </ion-infinite-scroll>
      
  <!--  </div>

  </div>-->

</ion-content>
