<ion-header>

  <ion-navbar color="secondary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Meu Perfil da RHS</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="openEditProfileModal()">
        <ion-icon name="create"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content>

  <div *ngIf="isUserLogged">

    <div *ngIf="isLoadingUser"><ion-spinner></ion-spinner></div>
    
    <div *ngIf="!isLoadingUser">
      <img [src]="user['avatar_urls'][96]">
      <h1>{{ user.name }}</h1>
      <p>{{ userPostsList.length }} Posts</p>

      <ion-toolbar class="toolbar-rhs" color="primary">
        <ion-segment [(ngModel)]="userInfoView" color="secondary">
          <ion-segment-button value="posts">
            Publicações
          </ion-segment-button>
          <ion-segment-button value="personal">
            Pessoal
          </ion-segment-button>
          <ion-segment-button value="interests">
            Interesses
          </ion-segment-button>
        </ion-segment>
      </ion-toolbar>

      <div *ngIf="!isUserLogged">
        <information [message]="'Somente para usuários da RHS'" [detail]="'É preciso estar logado para acessar essa sessão.'"></information>
      </div>

      <div [ngSwitch]="userInfoView">

        <ion-list *ngSwitchCase="'posts'">
          <div *ngIf="isLoadingUserPosts"><ion-spinner></ion-spinner></div>
          <post-card [post-data]="post" *ngFor="let post of userPostsList" (click)="goToPostPage(post.id)"></post-card>   
          <div *ngIf="userPostsList.length == 0 && !isLoadingUserPosts">
            <information [message]="'Não possui nenhuma publicação.'"></information>
          </div>
          <ion-item-divider *ngIf="noMoreResults">
            Não foram encontrados mais resultados.  
          </ion-item-divider>
        </ion-list>

        <ion-infinite-scroll [enabled]="userInfoView == 'posts' && !noMoreResults" (ionInfinite)="$event.waitFor(doInfinite())">
          <ion-infinite-scroll-content></ion-infinite-scroll-content>
        </ion-infinite-scroll>

        <ion-list *ngSwitchCase="'personal'">
          <ion-item>
            {{ user.description }}
          </ion-item>
        </ion-list>

        <ion-list *ngSwitchCase="'interests'">
          <ion-item>
            {{ user.description }}
          </ion-item>
        </ion-list>

      </div>
    </div>
  </div>

</ion-content>
