<ion-header no-border>

  <ion-navbar color="secondary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Meu Perfil da RHS</ion-title>
    <!--<ion-buttons end>
      <button ion-button icon-only (click)="openEditProfileModal()">
        <ion-icon name="create"></ion-icon>
      </button>
    </ion-buttons>-->
  </ion-navbar>

</ion-header>

<ion-content>
  
  <div *ngIf="!isUserLogged">
    <information [message]="'Somente para usuários da RHS'" [detail]="'É preciso estar logado para acessar essa sessão.'"></information>
  </div>
  <div *ngIf="isUserLogged">

    <div *ngIf="isLoadingUser"><ion-spinner class="center-spinner"></ion-spinner></div>
    
    <div *ngIf="!isLoadingUser">
      <div class="user-info">
        <img [src]="user['avatar_urls'][96]"> 
        <h2>{{ user['name'] }}</h2>
        <ion-grid>
          <ion-row nowrap>
            <ion-col>
              {{ user['total_posts'] }}  
              <!--<ion-icon color="primary" name="document"></ion-icon>-->
              <br>
              Posts
            </ion-col>
            <ion-col>
              {{ user['total_votes'] }}  
              <br>
              Votos
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>

      <ion-toolbar class="toolbar-rhs" color="primary">
        <ion-segment [(ngModel)]="userInfoView" color="secondary">
          <ion-segment-button value="posts">
            Publicações
          </ion-segment-button>
          <ion-segment-button value="personal">
            Pessoal
          </ion-segment-button>
          <ion-segment-button value="interests">
            Interesses
          </ion-segment-button>
        </ion-segment>
      </ion-toolbar>

      <div [ngSwitch]="userInfoView">
        
        <ion-list *ngSwitchCase="'posts'">
          <div *ngIf="isLoadingUserPosts"><ion-spinner class="center-spinner"></ion-spinner></div>
          <post-card [post-data]="post" *ngFor="let post of userPostsList" (click)="goToPostPage(post['id'])"></post-card>   
          <div *ngIf="userPostsList.length == 0 && !isLoadingUserPosts">
            <information [message]="'Não possui nenhuma publicação.'"></information>
          </div>
          <ion-item-divider *ngIf="noMoreResults">
            Não foram encontrados mais resultados.  
          </ion-item-divider>
        </ion-list>

        <ion-infinite-scroll [enabled]="userInfoView == 'posts' && !noMoreResults" (ionInfinite)="$event.waitFor(doInfinite())">
          <ion-infinite-scroll-content></ion-infinite-scroll-content>
        </ion-infinite-scroll>

        <ion-list *ngSwitchCase="'personal'" padding>
          <ion-item [innerHtml]="user['description'] !== '' ? user['description'] : 'Nenhuma descrição fornecida.'">
          </ion-item>
        </ion-list>

        <ion-list *ngSwitchCase="'interests'">
          <ion-list>
            <ion-list-header>Sobre</ion-list-header>
            <ion-item [innerHtml]="user['description'] !== '' ? user['description'] : 'Nenhuma informação encontrada.'">
            </ion-item>
            
            <ion-list-header>Interesses</ion-list-header>
            <ion-item [innerHtml]="user['interst'] !== '' ? user['interst'] : 'Nenhum interesse informado.'">
            </ion-item>

            <ion-list-header>Formação</ion-list-header>
            <ion-item [innerHtml]="user['formation'] !== '' ? user['formation'] : 'Nenhuma formação informada.'">
            </ion-item>
          </ion-list>
        </ion-list>

      </div>
    </div>
  </div>

</ion-content>
