<ion-header>

  <ion-navbar color="secondary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Configurações do App</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list>
    <ion-list-header>
      Um tipo de configuração.
    </ion-list-header>
    <ion-item>Configuração 1</ion-item>
    <ion-item>Configuração 2</ion-item>

    <ion-list-header>
      Outro tipo de configuração.
    </ion-list-header>
    <ion-item>Configuração 1</ion-item>
    <ion-item> 
      <ion-label>Configuração 2</ion-label>
      <ion-toggle enabled checked="false"></ion-toggle>
    </ion-item>

    <ion-item>Configuração 3</ion-item>
    <ion-list-header>
      Login na RHS
    </ion-list-header>
    <ion-item *ngIf="isUserLogged">Você está conectado à RHS <button clear ion-button item-end color="danger" (click)="alertLogout()">SAIR</button></ion-item>
    <ion-item *ngIf="!isUserLogged">Você não está conectado à RHS <button clear ion-button item-end color="primary" (click)="goToLoginPage()">ENTRAR</button></ion-item>
  </ion-list>
  
</ion-content>
