<ion-header>

  <ion-navbar color="secondary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Configurações do App</ion-title>
  </ion-navbar>

</ion-header>

<ion-content>
  <ion-list>
    <!--<ion-list-header>
      Página de Posts
    </ion-list-header>
    <ion-item>
      <ion-label>Tamanho da fonte dos posts (funcional): </ion-label>  
      <ion-select #select [(ngModel)]="articleFontSize" (ionChange)="changePostFontSize(select.value)">
        <ion-option [attr.selected]="articleFontSize == 'extra-small'" value="extra-small">Muito pequeno</ion-option>
        <ion-option [attr.selected]="articleFontSize == 'small'" value="small">Pequeno</ion-option>
        <ion-option [attr.selected]="articleFontSize == 'medium'" value="medium">Médio</ion-option>
        <ion-option [attr.selected]="articleFontSize == 'large'" value="large">Grande</ion-option>
        <ion-option [attr.selected]="articleFontSize == 'extra-large'" value="extra-large">Enorme</ion-option>
      </ion-select>
    </ion-item>-->
    <ion-list-header>
      Tamanho da fonte nos posts: 
      <ion-note item-end [ngStyle]="{ 'font-size': settings.postContentFontSizeOptions[rangeToFontSize(articleFontSizeRange)] }">
        {{ translateFontSize(rangeToFontSize(articleFontSizeRange)) }}
      </ion-note>
    </ion-list-header>
    <ion-item>
      <ion-range  min="1" max="5" snaps="true" [(ngModel)]="articleFontSizeRange" (ionChange)="changePostFontSize()">
        <ion-label range-left [ngStyle]="{ 'font-size': settings.postContentFontSizeOptions['extra-small'] }">A</ion-label>
        <ion-label range-right [ngStyle]="{ 'font-size': settings.postContentFontSizeOptions['extra-large'] }">A</ion-label>
      </ion-range>
    </ion-item>
  </ion-list>
  <br>
  <ion-list>
    <ion-list-header>
      Notificações
      <ion-note item-end *ngIf="!isUserLogged">somente para usuários da RHS.</ion-note>
      <ion-note item-end *ngIf="isUserLogged">receber para os seguintes casos.</ion-note>
    </ion-list-header>
    <ion-item *ngFor="let notificationType of notificationTypes">
      <ion-label>{{ notificationType['value']['short_description'] }}</ion-label>
      <ion-toggle [disabled]="!isUserLogged" [(ngModel)]="settings.desiredNotifications[notificationType.key]['valueBool']" (ionChange)="toggleDesiredNotification(notificationType)"></ion-toggle>
    </ion-item>

  </ion-list>
  <br>
  <ion-list>
    <ion-list-header>
      Login na RHS
    </ion-list-header>
    <ion-item *ngIf="isUserLogged">Você está conectado à RHS <button ion-button item-end color="danger" (click)="alertLogout()">SAIR</button></ion-item>
    <ion-item *ngIf="!isUserLogged">Você não está conectado à RHS <button ion-button item-end color="primary" (click)="goToLoginPage()">ENTRAR</button></ion-item>
  </ion-list>
  
</ion-content>
