<ion-header id="shrinkHeader">

  <ion-navbar color="secondary">
    <ion-title><img alt="RHS" height="36" src="./assets/logo-rhs.svg"/></ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="openShareActionSheet()">
        <ion-icon name="share"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content padding fullscreen shrink-header="12px">

  <div *ngIf="isLoadingPost"><ion-spinner></ion-spinner></div>
  <div *ngIf="!isLoadingPost">

    <h1 [innerHTML]="post.title['rendered']"></h1>
    <div [innerHTML]="post.content['rendered']"></div>
    <ion-buttons>
      <button ion-button (click)="commentPost()">Comentar</button>
      <button ion-button (click)="votePost()">Votar</button>
      <button ion-button (click)="openShareActionSheet()">Compartilhar</button>
    </ion-buttons>

    <div *ngIf="isLoadingComments"><ion-spinner></ion-spinner></div>
    <div *ngIf="!isLoadingComments">
      <p>{{ comments.length }} comentários.</p>
      <ion-list>
        <ion-item *ngFor="let comment of comments">
          <ion-avatar item-start>
            <img src="{{ comment.author_avatar_urls[24] }}">
          </ion-avatar>
          <h2>{{ comment.author_name }}</h2>
          <p [innerHtml]="comment.content['rendered']"></p>
          <button ion-button clear icon-only (click)="commentOnComment()">
            <ion-icon name="redo"></ion-icon>
          </button>
        </ion-item>
      </ion-list>
    </div>
  </div>

</ion-content>

<ion-footer *ngIf="this.api.isLogged()">
  <ion-toolbar>
    <ion-input type="text" value="" placeholder="Digite aqui seu comentário."></ion-input>
    <ion-buttons end>
      <button ion-button icon-only (click)="sendMessage()">
        <ion-icon name="send"></ion-icon>
      </button>
    </ion-buttons> 
  </ion-toolbar>
</ion-footer>
