<ion-header id="shrinkHeader">

  <ion-navbar color="secondary">
    <ion-title><img alt="RHS" height="36" src="./assets/logo-rhs.svg"/></ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="openShareActionSheet()">
        <ion-icon name="share"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content padding fullscreen shrink-header>

  <div *ngIf="isLoading"><ion-spinner></ion-spinner></div>
  <div *ngIf="!isLoading">
    <h1>{{ post.title['rendered'] }}</h1>
    <div [innerHTML]="post.content['rendered']"></div>

  </div>

</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-input type="text" value="" placeholder="Digite aqui seu comentário."></ion-input>
    <ion-buttons end>
      <button ion-button icon-only (click)="sendMessage()">
        <ion-icon name="send"></ion-icon>
      </button>
    </ion-buttons> 
  </ion-toolbar>
</ion-footer>
