page-post {
  
  ion-header {
  // Centraliza o ion-title, mesmo no Android
    .toolbar-title {
      display: -webkit-flex;
      display: flex;
      -webkit-flex-direction: row;
      flex-direction: row;
      -webkit-align-items: center;
      align-items: center;
      -webkit-justify-content: center;
      justify-content: center;
    }
  }

  ion-content{
    &.content{

      // Adds a margin when screen is to large or landscape mode.
      @media (min-width: 576px) and (orientation: landscape) {
        h1, article, .author-above-title {
          margin-left: 12%;
          margin-right: 12%;
        }
      }
      @media (min-width: 576px) and (orientation: portrait) {
        h1, article, .author-above-title {
          margin-left: 6%;
          margin-right: 6%;
        }
      }
      @media (min-width: 768px) {
        h1, article, .author-above-title {
          margin-left: 22%;
          margin-right: 22%;
        }
      }

      h1{
        font-size: 1.55em;
        font-weight: bold;
        color: color($colors, secondary);
        text-transform: capitalize;
      }
      .author-above-title {
        padding: 0px 16px;
        color: gray;
        span { 
          font-weight: bold; 
          color: color($colors, primary);
        }
      }
      
      article{     
        color: color($colors, dark) !important;
        line-height: 1.5em !important;
        user-select: text !important;
        padding: 1px 16px;

        p, div {
          color: color($colors, dark) !important;
          line-height: 1.5em !important;
          user-select: text !important;
        }
        img{
          height: auto !important;
        }
        iframe {
          position: relative !important;
          height: auto;
          min-height: 250px;
        }
        img, iframe {
          margin-left: -16px !important;
          margin-right: -16px !important;
          display: block;
          width: calc(100% + 32px) !important;
          max-width: calc(100% + 32px) !important;

        }
        div {
          width: inherit !important;
          display: inherit !important;
        }
        blockquote, .wp-caption-text {
          font-style: italic;
          color: #555 !important;
        }
        table {
          width: 100% !important;
          overflow-x: scroll;
          display: inline-block;

          tbody { 
            display: inline-block;
            min-width: max-content; 
            border: 2px solid color($colors, primary);
            border-radius: 2px 
          }
        }
      }

      div[no-lines]{
        &.top-border { 
          border-top: 1px solid #00b4b4;
        }
      }
      
      .author{
        padding: 0px 16px;
        ion-item{
          padding: 0;
          ion-avatar{
            img { border: 2px solid color($colors, secondary) }
          }
          .item-inner{
            padding: 0;
            border: none;
            ion-label{
              h2{
                color: color($colors, primary);
                font-weight: 500;
                text-transform: capitalize;
              }
              p{
                color: color($colors, secondary);
                text-transform: lowercase;
                font-weight: 400;
              }
            }
          }
        }
      }
      #button{
        padding: 0 0.6rem;
        font-size: 1.2rem;
        height: 1.8em;
        margin-bottom: 0;
        font-weight: 400;
      }

      div.category{
        padding-left: 15px;
        padding-bottom: 10px;
        h4{
          font-size: 1.5rem;
          margin-bottom: 0;
          color: color($colors, secondary);
        }
        ion-buttons{
          @extend #button;
        }
      }

      div.tags{
        padding: 15px;
        margin-bottom: 12px;
        h4{
          font-size: 1.5rem;
          margin-bottom: 2px;
          color: color($colors, secondary);
        }
        ion-buttons{
          padding-top: 5px;
          display: inline-block;
          @extend #button;
        }
      }

      .action_buttons{
        &.bar-buttons-ios{
          .divider{
            height: 20px;
            padding-bottom: 39px;
          }
        }

        ion-grid{
          padding: 0px !important;
          .row{
            flex-wrap: nowrap;
          }
          .divider{
            content: '';
            width: 0;
            height: 80%;
            position: absolute;
            border: 1px solid rgba(12, 60, 70, 0.21);
            top: 8px;
            left: -3px;
          }
          ion-col{
            p{
              color: color($colors, secondary);
              font-size: 13px;
              font-weight: 400;
              line-height: 0;
              white-space: nowrap;
            }
            &::before{
              @extend .divider;
            }
            &.divide[col-4]::before{
              border: none !important;
            }
            &[col-5]::before{
              left: 4px;
            }
          }
        }

      }

      .comentarios{
        background: color($colors, ligth-gray);
        border-top: 2px solid color($colors, secondary);
        ion-list{
          ion-item{
            background: transparent;
            margin-bottom: 10px;
            align-items: normal;
            ion-avatar{
              margin: 12px 12px 0px 0px;
              img { 
                border: 2px solid color($colors, primary); 
                object-fit: cover;
                object-position: top; 
              }
            }
            ion-avatar.avatar-author{
              img { border: 2px solid color($colors, secondary) }
            }
            .item-inner{
              background: white;
              border: 1px solid darken(color($colors, ligth-gray), 13%) !important;
              border-radius: 2px;
              padding: 0 10px;
              ion-label{
                h2{
                  font-size: 1.32rem;
                  font-weight: bold;
                  line-height: 1.5em;
                  color: color($colors, primary);
                  span{
                    font-weight: normal;
                    color: color($colors, secondary);
                    font-size: 10px;
                    top: 1px;
                    position: absolute;
                    right: 7px;
                  }
                }
                p{
                  font-size: 1.32rem;
                  user-select: text !important;
                }
                @media (min-width: 576px) {
                  h2{ font-size: 1.4rem; span { font-size: 12px; } }
                  p { font-size: 1.4rem }
                }
              }
              button[icon-only]{
                bottom: 0;
                margin: 0;
                position: absolute;
                right: 5px;
              }
              .edit-button{
                bottom: 0;
                margin: 0;
                position: absolute;
                right: 35px;
              }
            }
          }
          &.list-ios{
            .item-ios{
              &:first-child{
                border: none;
              }
              &:last-child{
                border: none;
              }
            }
          }
        }
      }

    }
  }
  ion-footer {
    ion-toolbar {
      padding: 0px 4px;
      .toolbar-content{
        padding: 0px 6px 6px 6px;
        ion-textarea {
          font-size: 18px;
          color: color($colors, dark);
          height: auto;
          textarea {
            height: auto;
            min-height: 18px;
            margin: 8px;
            overflow: scroll !important;
          }
          .text-input::-moz-placeholder,
          .text-input:-ms-input-placeholder,
          .text-input::-webkit-input-placeholder {
            padding-top: 7px;
            line-height: 8px;
          }
        }
      }
    }
    .platform-mobile textarea.text-input {
      resize: vertical;
    }
  }

  .button-loader * {
    stroke: white !important;
  }

}
