<ion-header id="shrinkHeader">

  <ion-navbar color="secondary">
    <ion-title><img alt="RHS" height="36" src="./assets/logo-rhs.svg"/></ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="openShareActionSheet()">
        <ion-icon name="share"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content fullscreen shrink-header="12px" class="content has-header">

  <div *ngIf="isLoadingPost"><ion-spinner></ion-spinner></div>
  <div *ngIf="!isLoadingPost">

    <!-- POST TITLE -->
    <h1 padding-horizontal [innerHTML]="post.title['rendered']"></h1>

    <!-- POST CONTENT -->
    <article [ngStyle]="{ 'font-size': settings.postContentFontSizeOptions['small'] }" [innerHTML]="post.content['rendered'] | innerHtmlPost"></article>

    <!-- POST CATEGORIES -->
    <div *ngIf="isLoadingCategories"><ion-spinner></ion-spinner></div>
    <div padding *ngIf="!isLoadingCategories && categories.length > 0" class="category">
      <h4><ion-icon name="pricetags"></ion-icon> Categorias</h4>
      <ion-buttons class="categoria">
        <button ion-button round small clear *ngFor="let category of categories" (click)="goToSearchWithCategory(category)" id="button">{{ category.name }}</button>
      </ion-buttons>
    </div>
    <!-- POST TAGS -->
    <div *ngIf="isLoadingTags"><ion-spinner></ion-spinner></div>
    <div padding *ngIf="!isLoadingTags && tags.length > 0" class="tags">
      <h4><ion-icon name="bookmark"></ion-icon> Tags</h4>
      <ion-buttons>
        <button ion-button round small outline *ngFor="let tag of tags" (click)="goToSearchWithTag(tag)" id="button">{{ tag.name }}</button>
      </ion-buttons>
    </div>

    <!--DIVISOR-->
    <div no-lines class="top-border"></div>

    <!-- POST AUTHOR-->
    <div *ngIf="isLoadingAuthor"><ion-spinner></ion-spinner></div>
    <div padding *ngIf="!isLoadingAuthor" class="author">
      <ion-item>
        <ion-avatar item-start>
          <img src="{{ author.avatar_urls[48] }}">
        </ion-avatar>
        <h2>{{ author.name }}</h2>
        <p>Publicado em {{ post.date | date: 'dd/MM/yyyy' }}</p>
      </ion-item>
    </div>

    <!--DIVISOR-->
    <div no-lines class="top-border"></div>

    <!-- POST ACTION BUTTONS-->
    <ion-buttons class="action_buttons">
      <ion-grid>
        <ion-row text-center>
          <ion-col col-4 class="divide">
            <p>{{ commentBoxes.length }} Comentários</p>
            <button small ion-button (click)="commentPost()" class="comentar">Comentar</button>
          </ion-col>
          <ion-col col-3>
            <p>0 Votos</p>
            <button small  ion-button (click)="votePost()" class="votar">Votar</button>
          </ion-col>
          <ion-col col-5>
            <p>0 Compartilhamentos</p>
            <button small ion-button (click)="openShareActionSheet()" class="compartilhar">Compartilhar</button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-buttons>

    <!-- POST COMMENTS -->
    <div *ngIf="isLoadingComments"><ion-spinner></ion-spinner></div>
    <div padding *ngIf="!isLoadingComments" class="comentarios">
      <ion-list>
        <ion-item *ngFor="let comment of commentBoxes; let i = index" text-wrap [ngStyle]="{ 'padding-left': comment.depth*20 + 'px'} ">
          <ion-avatar item-start class="avatar" [ngClass]="{'avatar-author': author ? comment.author_name == author.name : false }">
            <img src="{{ comment.author_avatar_urls[24] }}">
          </ion-avatar>
            <h2>{{ comment.author_name }} <span>{{ comment.date | date: 'dd/MM/yyyy' }}</span></h2>
            <p [innerHtml]="comment.content['rendered']"></p>
            <button ion-button clear icon-only item-end (click)="commentOnComment(i)">
              <ion-icon name="redo"></ion-icon>
            </button>
        </ion-item>
      </ion-list>
      <div text-center *ngIf="false"><button clear round ion-button (click)="commentsOffset = commentsOffset + settings.commentsPerPage; loadComments();">Mais comentários</button></div>
    </div>
  </div>

</ion-content>

<ion-footer *ngIf="this.api.isLogged()">
  <ion-toolbar>
    <ion-input #commentInput type="text" [(ngModel)]="commentContent" placeholder="Digite aqui seu comentário."></ion-input>
    <ion-buttons end>
      <ion-spinner *ngIf="isPostingComment"></ion-spinner>
      <button *ngIf="!isPostingComment" [disabled]="commentContent.length <= 0 " [color]="commentContent.length > 0 ? 'primary' : 'default'" ion-button icon-only (click)="postComment()">
        <ion-icon name="send"></ion-icon>
      </button>
    </ion-buttons> 
  </ion-toolbar>
</ion-footer>
