page-post {
  
  ion-header {
  // Centraliza o ion-title, mesmo no Android
    .toolbar-title {
      display: -webkit-flex;
      display: flex;
      -webkit-flex-direction: row;
      flex-direction: row;
      -webkit-align-items: center;
      align-items: center;
      -webkit-justify-content: center;
      justify-content: center;
    }
  }

  ion-spinner {
    position: absolute;
    margin-left: -1em;
    margin-top: -1em;
    left: 50%;
    top: 50%;
  }

  ion-content{
    &.content{
      h1{
        font-weight: 100;
        color: color($colors, secondary);
        text-transform: capitalize;
      }
      .author{
        ion-item{
          padding: 0;
          .item-inner{
            padding: 0;
            border: none;
          }
        }
      }
    }
  }

}
