page-post {
  
  ion-header {
  // Centraliza o ion-title, mesmo no Android
    .toolbar-title {
      display: -webkit-flex;
      display: flex;
      -webkit-flex-direction: row;
      flex-direction: row;
      -webkit-align-items: center;
      align-items: center;
      -webkit-justify-content: center;
      justify-content: center;
    }
  }

  ion-content{
    &.content{
      h1{
        font-weight: 100;
        color: color($colors, secondary);
        text-transform: capitalize;
      }
      
      article{
        color: color($colors, dark);
        
        user-select: text !important;
        
          padding: 4px 16px;
        
        img{
          width: 100% !important;
          height: auto !important;
        }
        iframe {
          width: 100%;
          height: auto;
          min-height: 250px;
        }
        img, iframe {
          margin: -4px -16px;
          display: block;
          width: calc(100% + 32px) !important;
          max-width: calc(100% + 32px) !important;
        }
        blockquote {
          font-style: italic;
          color: #555;
        }
      }

      div[no-lines]{
        &.top-border { 
          border-top: 1px solid #00b4b4;
        }
      }
      
      .author{
        padding: 0px 16px;
        ion-item{
          padding: 0;
          ion-avatar{
            img { border: 2px solid color($colors, secondary) }
          }
          .item-inner{
            padding: 0;
            border: none;
            ion-label{
              h2{
                color: color($colors, primary);
                font-weight: 500;
                text-transform: capitalize;
              }
              p{
                color: color($colors, secondary);
                text-transform: lowercase;
                font-weight: 400;
              }
            }
          }
        }
      }
      #button{
        padding: 0 0.6rem;
        font-size: 1.2rem;
        height: 1.8em;
        margin-bottom: 0;
        font-weight: 400;
      }

      div.category{
        padding-left: 15px;
        padding-bottom: 10px;
        h4{
          font-size: 1.5rem;
          margin-bottom: 0;
          color: color($colors, secondary);
        }
        ion-buttons{
          @extend #button;
        }
      }

      div.tags{
        padding: 15px;
        margin-bottom: 12px;
        h4{
          font-size: 1.5rem;
          margin-bottom: 2px;
          color: color($colors, secondary);
        }
        ion-buttons{
          padding-top: 5px;
          display: inline-block;
          @extend #button;
        }
      }

      .action_buttons{
        &.bar-buttons-ios{
          .divider{
            height: 20px;
            padding-bottom: 39px;
          }
        }

        ion-grid{
          .row{
            flex-wrap: nowrap;
          }
          .divider{
            content: '';
            width: 0;
            height: 70%;
            position: absolute;
            border: 1px solid rgba(12, 60, 70, 0.21);
            top: 15px;
            left: 1.0px;
          }
          ion-col{
            button{
              padding: 0 5px;
              &.button-ios{
                padding: 0 10px;
              }
            }
            p{
              color: color($colors, secondary);
              font-size: 13px;
              font-weight: 400;
              line-height: 0;
              white-space: nowrap;
            }
            &::before{
              @extend .divider;
            }
            &.divide[col-4]::before{
              border: none !important;
            }
            &[col-5]::before{
              left: 0;
            }
          }
        }

      }

      .comentarios{
        background: color($colors, ligth-gray);
        border-top: 2px solid color($colors, secondary);
        ion-list{
          ion-item{
            background: transparent;
            margin-bottom: 10px;
            align-items: normal;
            ion-avatar{
              margin: 12px 12px 0px 0px;
              img { border: 2px solid color($colors, primary) }
            }
            ion-avatar.avatar-author{
              img { border: 2px solid color($colors, secondary) }
            }
            .item-inner{
              background: white;
              border: 1px solid darken(color($colors, ligth-gray), 18%) !important;
              border-radius: 2px;
              padding: 0 10px;
              ion-label{
                h2{
                  font-size: 1.3rem;
                  font-weight: bold;
                  line-height: 1.5em;
                  color: color($colors, primary);
                  span{
                    font-weight: normal;
                    color: color($colors, secondary);
                    font-size: 10px;
                    top: 1px;
                    position: absolute;
                    right: 5px;
                  }
                }
                p{
                  font-size: 1.3rem;
                  user-select: text !important;
                }
              }
              button[icon-only]{
                bottom: 0;
                margin: 0;
                position: absolute;
                right: 5px;
              }
            }
          }
          &.list-ios{
            .item-ios{
              &:first-child{
                border: none;
              }
              &:last-child{
                border: none;
              }
            }
          }
        }
      }

    }
  }
  ion-footer {
    ion-toolbar {
      padding: 0px 4px;
      .toolbar-content{
        padding: 0px 6px 6px 6px;
        ion-textarea {
          textarea {
            height: 18px;
            min-height: 18px;
            margin: 8px;
            overflow: scroll !important;
          }
        }
      }
    }
  }

}
