<ion-menu [content]="content">

  <ion-header class="user-info">
    <ion-toolbar *ngIf="!showUserInfo" color="secondary">
      <h3>Você não está logado</h3>
      <button menuClose ion-button color="primary" (click)="goToLoginPage()">ENTRAR NA RHS</button>
    </ion-toolbar>
    <ion-toolbar *ngIf="showUserInfo" color="secondary">
      <div class="user-info">
        <img [src]="user['avatar_urls'][96]"> 
        <h1>{{ user.name }}</h1>
        <ion-grid>
          <ion-row nowrap>
            <ion-col>
              x <ion-icon color="primary" name="document"></ion-icon>
              <br>
              Posts
            </ion-col>
            <ion-col>
              x <ion-icon color="primary" name="chatboxes"></ion-icon>
              <br>
              Comentários 
            </ion-col>
            <ion-col>
              x 
              <br>
              Votos
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
    </ion-toolbar>
  </ion-header>

  <ion-content class="menuToggle">
    <ion-list>
      <button menuClose ion-item [ngClass]="{'active-menu-item': p == activePage}" *ngFor="let p of pages" (click)="openPage(p)">
        <ion-icon name="{{ p.icon }}"></ion-icon>
        {{p.title}}
      </button>
    </ion-list>
  </ion-content>

</ion-menu>

<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>