<ion-menu [content]="content">

  <ion-header class="user-info">
    <ion-toolbar *ngIf="!showUserInfo" color="secondary">
      <h3>Você não está logado</h3>
      <button menuClose ion-button color="primary" (click)="goToLoginPage()">ENTRAR NA RHS</button>
    </ion-toolbar>
    <ion-toolbar *ngIf="showUserInfo" color="secondary">
      <h3>Seja bem vindo, {{ userInfo.name }}!</h3>
    </ion-toolbar>
  </ion-header>

  <ion-content class="menuToggle">
    <ion-list>
      <button menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)">
        <ion-icon name="{{ p.icon }}"></ion-icon>
        {{p.title}}
      </button>
    </ion-list>
  </ion-content>

</ion-menu>

<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>