// http://ionicframework.com/docs/v2/theming/
@import "theme/variables.scss";

// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

ion-menu {
  .menu-inner {

    .user-info {
 
      text-align: center;
      background-color: color($colors, secondary);
      color: white;
      padding: 10px;

      img {
        border-radius: 50%;
        border: 0.2px solid color($colors, primary);
        box-shadow: 0px 1px 12px -1px #1f1f1f;
      }
    }

    .active-menu-item {
      &>.item-inner { border-right: 4px solid color($colors, secondary) !important; }
      color: color($colors, secondary) !important;
      font-weight: bolder;
    }    
    
    ion-content {

      background: color($colors, primary);

      .scroll-content {
        ion-list {
          button { 
            color: lighten(color($colors, secondary), 5%);
            background: color($colors, primary);
          }
        }
      }
      &.menuToggle{
        .scroll-content{
          overflow-y: hidden !important;
          ion-list{
            &:first-child{
              margin-left: 9px;
              margin-top: 17px;
            }
            button{
              .item-inner{
                border-bottom: none !important;
              }
              ion-label{
                ion-icon{
                  margin-right: 20px;
                }
              }
              &.item-block{
                &:last-child, &:first-child{
                  border: none !important;
                }
              }
            }
          }
        }
      }

      .rhs-watermark {
        text-align: center;
        position: absolute;
        bottom: 10px;
        left: auto;
        right: auto;
        width: 100%;
      }

    }
  }
  
}

@-webkit-keyframes slideIn {
  0% {
    -webkit-transform: translate3d(0,-30%,0);
    opacity: 0;
  }
 
  100% {
    -webkit-transform: translate3d(0,0,0);
    opacity: 1.0;
  }
}
 
.slide-in-animate {
   -webkit-animation: slideIn ease-out 1; 
  animation: slideIn ease-out 1;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-duration: 500ms;
  animation-duration: 500ms;
}

ion-spinner * {
  width: 32px !important;
  height: 32px !important;
  stroke: color($colors, primary) !important;
}

.center-spinner {
  position: fixed;
  margin-left: -1em;
  margin-top: -1em;
  left: 50%;
  top: 50%;
}

.center-spinner-relative {
  position: relative;
  margin-top: 0.5em;
  left: 50%;
  top: 50%;
}