page-user {
  .user-info {
    text-align: center;
    background-color: color($colors, secondary);
    color: white;
    padding: 15px;

    img {
      border-radius: 50%;
    }

  }

  .toolbar-rhs {
    padding: 0;
    min-height: 50px !important;
    .segment-md{
      margin-bottom: -7px !important;
    }
  }

  ion-list {
    .list-header-md {
      margin-bottom: 2px !important;
    }
    ion-label {
      margin-bottom: 0px !important;
    }
    ion-item >p {
      font-size: 1.6rem !important;
      color: color($colors, dark) !important;
    }
  }
  
}
