<ion-header>

  <ion-navbar color="secondary">
    <ion-title>Notificações</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>

  <div *ngIf="!isUserLogged">
    <information [message]="'Somente para usuários da RHS'" [detail]="'É preciso estar logado para acessar essa sessão.'"></information>
  </div>

  <div *ngIf="isUserLogged">

    <ion-refresher pullMin="100" 
                    (ionRefresh)="doRefresh($event)">
      <ion-refresher-content
        pullingText="Puxe e solte para atualizar."
        refreshingText="Carregando dados...">
      </ion-refresher-content>
    </ion-refresher>

    <div *ngIf="!showSpinner && notifications.length == 0">
      <information [message]="'Nenhuma notificação.'"></information>
    </div>

    <div *ngIf="showSpinner && !isLoadingMore && !loadingFromRefresher"><ion-spinner class="center-spinner"></ion-spinner></div>
    <div *ngIf="!showSpinner && notifications.length > 0">
      <div *ngFor="let notification of notifications; let i = index">
      <ion-item *ngIf="notification['type'] == 'new_post_from_user' || notification['type'] == 'comments_in_post' || notification['type'] == 'user_follow_author'" (click)="goToNotificationContent(i)">
        <ion-avatar item-start [innerHtml]="notification['image']"> 
        </ion-avatar>
        <h2 color="secondary" text-wrap [innerHtml]="notification['text'] | innerHtmlNotification"></h2>
        <p>{{ notification['datetime'] | date: 'dd/MM/yyyy' }}</p>
      </ion-item>
      <ion-item *ngIf="notification['type'] != 'comments_in_post' && notification['type'] != 'user_follow_author' && notification['type'] != 'new_post_from_user'" (click)="goToNotificationContent(i)">
        <ion-thumbnail item-start  [innerHtml]="notification['image']"> 
        </ion-thumbnail>
        <h2 color="secondary"  text-wrap  [innerHtml]="notification['text'] | innerHtmlNotification">></h2>
        <p>{{ notification['datetime'] | date: 'dd/MM/yyyy' }}</p>
      </ion-item>
      </div>
      <ion-item-divider *ngIf="noMoreResults">
        Não foram encontradas mais notificações.
      </ion-item-divider>
    </div>

    <ion-infinite-scroll [enabled]="!noMoreResults" (ionInfinite)="$event.waitFor(doInfinite())">
      <ion-infinite-scroll-content
      loadingText="Buscando mais notificações...">
    </ion-infinite-scroll-content>
    </ion-infinite-scroll>

  </div>

</ion-content>
