<ion-header>

  <ion-toolbar color="primary">
    <ion-searchbar #searchBar
                   animated="true"
                   placeholder="Pesquisar posts na RHS"
                   autocomplete="on"
                   showCancelButton="true"
                   cancelButtonText="Cancelar"
                   (ionCancel)="onCancel($event)"
                   [(ngModel)]="searchTerm" 
                   [formControl]="searchControl"></ion-searchbar>
  </ion-toolbar>
  <ion-toolbar padding-left padding-right color="tertiary" *ngIf="tagFiltering || categoryFiltering">
    Filtrando por:  <ion-chip #filterChip color="primary">  
                      <ion-label color="white">{{ filterName }}</ion-label>
                      <button ion-button clear color="secondary" (click)="deleteFilter(filterChip)">
                          <ion-icon name="close-circle"></ion-icon>
                      </button>
                    </ion-chip>
  </ion-toolbar>
</ion-header>

<ion-content [ngClass]="(tagFiltering || categoryFiltering) ? 'has-subheader' : ''">

  <ion-list>
    <div *ngIf="showSpinner"><ion-spinner></ion-spinner></div>
    <post-card [post-data]="post" *ngFor="let post of postList" (click)="goToPostPage(post.id)">   
    </post-card>
    <ion-item-divider *ngIf="noMoreResults">
      Não foram encontrados mais resultados.  
    </ion-item-divider>
    <div *ngIf="postList.length == 0 && !showSpinner && searchTerm && searchTerm.trim()">
      <information [message]="'Nenhum post encontrado.'" [detail]="'Verifique se digitou corretamente o termo de busca, ou tente ser menos específico.'"></information>
    </div>
    <div *ngIf="postList.length == 0 && !showSpinner && !searchTerm && !searchTerm.trim()">
      <information [message]="'Busque por posts na RHS.'"></information>
    </div>
  </ion-list>

  <ion-infinite-scroll [enabled]="!noMoreResults" (ionInfinite)="$event.waitFor(doInfinite())">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>
