page-search {

  ion-searchbar.searchbar-md {
    input {
      padding: 6px 45px 6px 25px !important;

      &:focus {
        border-bottom: 2px solid color($colors, secondary);
      }
    }
    
  }

  ion-content{

    background: color($colors, ligth-gray) !important;
    
    ion-list {
      ion-spinner {
        position: absolute;
        margin-left: -1em;
        margin-top: -1em;
        left: 50%;
        top: 50%;
      }
    }
  }
}
