<ion-header>

  <ion-toolbar color="primary">
    <ion-searchbar animated="true"
                   placeholder="Pesquisar posts na RHS"
                   autocomplete="on"
                   showCancelButton="true"
                   cancelButtonText="Cancelar"
                   (ionCancel)="onCancel($event)"
                   [(ngModel)]="searchTerm" 
                   [formControl]="searchControl" autofocus></ion-searchbar>
  </ion-toolbar>
  <ion-toolbar padding-left padding-right color="tertiary" *ngIf="tagFiltering || categoryFiltering">
    Filtrando por:  <ion-chip #filterChip color="primary">  
                      <ion-label color="white">{{ filterName }}</ion-label>
                      <button ion-button clear color="secondary" (click)="deleteFilter(filterChip)">
                          <ion-icon name="close-circle"></ion-icon>
                      </button>
                    </ion-chip>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>
    <div *ngIf="showSpinner"><ion-spinner></ion-spinner></div>
    <ion-card *ngFor="let post of postList" (click)="goToPostPage(post.id)">   
      <img src="./assets/images/1.jpg">
      <ion-card-header [innerHtml]="post.title['rendered']"></ion-card-header>
      <ion-card-content [innerHtml]="post.excerpt['rendered']"></ion-card-content>
      <ion-item color="light">
        <ion-avatar item-start>
          <img src="{{ post._embedded['author'][0].avatar_urls[48] }}">
        </ion-avatar>
        <h2>{{ post._embedded['author'][0].name }}</h2>
        <p class="data">01/08/2017</p>
        <div float-right small class="votos_comentarios">
            <span><strong>12</strong> votos</span>
            <span><strong>4</strong> comentários</span>
        </div>
      </ion-item>
    </ion-card>
    <ion-item-divider *ngIf="noMoreResults">
      Não foram encontrados mais resultados.  
    </ion-item-divider>
    <ion-item-divider *ngIf="postList.length == 0">
      Nenhum resultado encontrado.
    </ion-item-divider>
  </ion-list>

  <ion-infinite-scroll [enabled]="!noMoreResults" (ionInfinite)="$event.waitFor(doInfinite())">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>
