page-comment {
  background: color($colors, ligth-gray) !important;
  .comentarios{
    height: 100%;
    background: color($colors, ligth-gray);
    ion-list{
      ion-item{
        background: transparent;
        margin-bottom: 10px;
        align-items: normal;
        ion-avatar{
          margin: 12px 12px 0px 0px;
          img { 
            border: 2px solid color($colors, primary);
            object-fit: cover;
            object-position: top; 
          }
        }
        ion-avatar.avatar-author{
          img { border: 2px solid color($colors, secondary) }
        }
        .item-inner{
          background: white;
          border: 1px solid darken(color($colors, ligth-gray), 13%) !important;
          border-radius: 2px;
          padding: 0 10px;
          ion-label{
            h2{
              font-size: 1.45rem;
              font-weight: bold;
              line-height: 1.5em;
              color: color($colors, primary);
              span{
                font-weight: normal;
                color: color($colors, secondary);
                font-size: 10px;
                top: 1px;
                position: absolute;
                right: 5px;
              }
            }
            p{
              font-size: 1.45rem;
              line-height: 1.4em;
            }
          }
          button[icon-only]{
            bottom: 0;
            margin: 0;
            position: absolute;
            right: 5px;
          }
        }
      }
      &.list-ios{
        .item-ios{
          &:first-child{
            border: none;
          }
          &:last-child{
            border: none;
          }
        }
      }
    }
  }
  ion-footer {
    ion-toolbar {
      padding: 0px 4px;
      .toolbar-content{
        padding: 0px 6px 6px 6px;
        ion-textarea {
          font-size: 18px;
          color: color($colors, dark);
          textarea {
            height: 18px;
            min-height: 18px;
            margin: 8px;
            overflow: scroll !important;
          }
          .text-input::-moz-placeholder,
          .text-input:-ms-input-placeholder,
          .text-input::-webkit-input-placeholder {
            padding-top: 7px;
            line-height: 8px;
          }
        }
      }
    }
  }
  .platform-mobile textarea.text-input {
    resize: vertical;
  }
}
